AGENT_ENVIRONMENT=production
AGENT_LOG_LEVEL=INFO
AGENT_API_DOCS_ENABLED=false
AGENT_METRICS_ENABLED=true
AGENT_OTEL_ENABLED=true
AGENT_OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://otel-collector:4318/v1/traces
AGENT_OTEL_TRACE_SAMPLE_RATIO=0.1
