AGENT_ENVIRONMENT=local
AGENT_LOG_LEVEL=DEBUG
AGENT_API_DOCS_ENABLED=true
AGENT_METRICS_ENABLED=true
AGENT_OTEL_ENABLED=false
AGENT_OTEL_TRACE_SAMPLE_RATIO=1.0
AGENT_GATEWAY_BASE_URL=http://127.0.0.1:8081
AGENT_GATEWAY_INTERNAL_SERVICE_TOKEN=
AGENT_GATEWAY_TIMEOUT_SECONDS=5
AGENT_GATEWAY_MAX_RETRIES=2
AGENT_GATEWAY_RETRY_BACKOFF_SECONDS=0.1
